<!-- Dark mode enabled -->
<html class="dark" data-theme="luxury" lang="en">
    <%-include("../partials/head")-%>
  <body>
    <!-- Will be black -->
    <div class="dark:bg-black">
      <%-include("../partials/nav")-%>

			<div class="hero min-h-screen bg-base-200">
				<div class="text-center pd-lf">
					<h2 class="py-6 mb-12 text-4xl font-bold leading-none text-center sm:text-5xl">Svābhāvika-Dvaitādvaita</h2>


          <p class="pb-6"> The Sutras of Maharishi Veda Vyasa form the basis of Vedanta and has a large body of sacred texts. 
                These sutras describe different aspects of the Absolute and as a result various interpretations 
                and schools of thought emerged, such as: Keval Advaita of Sri Sankaracharya, Visishta Advaita of Sri Ramanujacharya, 
                Dvaita of Sri Madhavacharya, etc.</p>
          <p class="pb-6">Shri Nimbark Acharyaji established the siddhanta(philosophy) known as Svabhavika Bhedabheda 
                (Natural difference and non-difference) or Dvaitadvaita (Dualistic Non-Dualis)</p>

          <p class="pb-6">
                  DvaitAdvaita is the same as Bhedabheda. The specific DvaitAdvaita or Bhedabheda propogated by Shri Nimbark Acharya was called 
                  Svābhāvika-Dvaitādvaita or Svābhāvika-Bhedabheda
          </p>

				</div>
			</div>

      <%-include("../partials/footer")-%>
    </div>
</html>
