<!-- Dark mode enabled -->
<html class="dark" data-theme="luxury" lang="en">
    <%-include("../partials/head")-%>
  <body>
    <!-- Will be black -->
    <div class="dark:bg-black">
      <%-include("../partials/nav")-%>

			<div class="hero min-h-screen bg-base-200">
				<div class="text-center">
					<h2 class="mb-12 text-4xl font-bold leading-none text-center sm:text-5xl">History</h2>
							<p class="text-xl"><em>
										Rādhe Kṛṣṇa Rādhe Kṛṣṇa, Kṛṣṇa Kṛṣṇa Rādhe Rādhe
							</em></p>
							<p class="text-xl"><em>
									Rādhe Shyām Rādhe Shyām, Shyām Shyām Rādhe Rādhe
							</em></p>
							<p>arst rast arsrs</p>

				</div>
			</div>

		<%-include("../partials/footer")-%>
	</div>
</html>
