<!DOCTYPE html>
<!-- Dark mode enabled -->
<html class="dark" data-theme="luxury" lang="en">
    <%-include("../partials/head")-%>
  <body>
    <div class="dark:bg-black">
      <%-include("../partials/nav")-%>

      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <div>
            <img src="/images/emblem.jpg" class="md:max-w-sm sm:max-w-xs rounded-lg shadow-2xl cen pb-4 z-40"/>
            <h1 class="text-5xl font-bold pb-6">Shri Radha Sarveshvar Vijayete</h1>

            <p class="text-lg">This is an informantion portal related to the Shri Sanakadi sampraday aka the Shri Nimbark Sampraday.</p>
            <p class="text-lg pb-4">The Nimbark sampraday is a Vaishnava religious tradition that follows the dvaita-adviata philosophy and worships the divine couple Shri Shri Radha Krishna.</p>

            <button class="btn btn-primary">Get Started</button>

          </div>
        </div>
      </div>

      <%-include("../partials/footer")-%>
    </div>
  </body>
</html>
