<%-include("../partials/head")-%>

<body>

  <%-include("../partials/header")-%>

  </br>
  </br>
  <h1 class="text-black font-extrabold text-center text-4xl">Nimbark Sampraday</h1>
  <h2 class="text-black font-extrabold text-center text-4xl">Shri Radhasarveshvar Vijayate</h2>
  </br>
  <p class="text-center">Radhe Radhe</p>
  </br>
  </br>

  <%-include("../partials/footer")-%>

</body>


